.q-field__control {
	min-height: $input-height;
}

.q-field--labeled .q-field__native, .q-field--labeled .q-field__prefix, .q-field--labeled .q-field__suffix {
	padding-top: 40px;
	padding-bottom: 0px;
}

.q-field--labeled .q-field__native {
	padding-top: 20px;
}

.q-field__bottom {
	display: none !important;
}

.q-field--auto-height .q-field__native {
	display: flex;
	flex-wrap: nowrap;
}

.q-textarea.q-field--labeled .q-field__native {
	min-height: $textarea-min-height;
}

.q-field__marginal {
	height: $input-height;
}

.q-field--outlined .q-field__control::after {
	height: auto;
}

.custom-min .q-field__control {
	height: 35px;
	min-height: 0;
}

.q-field--readonly.q-field--float .q-field__native {
	padding-top: -1px;
}

.q-select.q-field--readonly .q-field__control {
	height: $input-height;
}

.q-field--outlined:hover .q-field__control::before {
	border-color: var(--primary);
}

.q-field--with-bottom {
	padding-bottom: 0px;
}

.custom-min.q-field--auto-height .q-field__native {
	min-height: 0;
}

.nowrap-input.q-field--auto-height .q-field__native {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-min .q-field__marginal {
	height: 35px;
}

.custom-min.q-select .q-field__input {
	min-width: 20px !important;
}

.custom-min.q-field--outlined .q-field__control {
	padding: 0 4px;
	border-radius: 0px;
}